body {
    background-color: #80d4ea;
}

#local, #hawaii, #barca {
    margin: 20px, 0;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 30px;
    font-family: courier, monospace;
    text-align: center;
    color: #587DC6;
    font-size: 40px;
}

#hawaii {
    color: #FC6068;
}

#barca {
  color: #FFDA87;
}
